* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: 'Mulish', sans-serif;
  font-size: 62.5%;

  --color-border: hsl(195, 91%, 25%);
  --color-background: hsl(0, 0%, 100%);
  --color-font: hsl(240, 6%, 13%);
  --color-button: hsl(195, 91%, 25%);
  --color-input-border: hsla(0, 0%, 100%, 0.2);
  --color-input-background: hsl(195, 46%, 40%);
}

body {
  background: var(--color-background);

  font-size: 1.6rem;
  color: var(--color-font);
}

header {
  background: var(--color-border);
  display: flex;
  width: 43.0rem;
  height: 7.0rem;
  padding: 1.2rem 2.8rem;
  align-items: center;
  gap: 2.5rem;
}

header img {
  width: 4.2rem;
  height: 4.2rem;

  border-radius: 50%;
}

header form {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;
  align-items: center;
  gap: 1.2rem;
  flex: 1 0 0;

  border-radius: 0.4rem;
  border-color: var(--color-input-border);

  
  color: #FFFFFF;
  background: var(--color-input-background);
}

@media (min-width:700px){
  body {
    padding: 0;
  }
}